@charset "UTF-8";

/*---------------Налаштування поводження html---------------*/
/* body {
    background-color: #838383;
} */
body {
    font-family: serif;
}

.red-border {
    border: 2px solid red;
    padding: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
 

p {
    margin: 0;
    font-size: clamp(18px, 3.3vw, 26px);
    hyphens: auto;
}
ul,
ol {
    text-align: left;
    font-size: clamp(14px, 3.3vw, 26px);
}
h1 {
    font-size: clamp(32.2px, 7.5vw, 60px);
    margin: 80px 0 80px;
}
h2 {
    font-size: clamp(21px, 4.9vw, 39px);
}

h3 {
    font-size: clamp(16.4px, 3.8vw, 30.4px);
}
h4 {
    font-size: clamp(18px, 3.3vw, 26px);
}

h5 {
    font-size: clamp(14px, 2.7vw, 21.6px);
}

h6 {
    font-size: clamp(10px, 2.2vw, 17.4px);
}

blockquote {
    margin: clamp(5px, 3.3vw, 26px) clamp(8px, 5vw, 40px);
    font-size: clamp(18px, 3.3vw, 26px);
    hyphens: auto;
}

pre {
    /* background-color: #f1f1f1; */
    margin: clamp(5px, 1.9vw, 15px) clamp(8px, 5vw, 40px);
    padding: clamp(6px, 2.3vw, 18px);
    width: auto;
    overflow: auto;
    font-size: clamp(14px, 2.5vw, 20px);;
}

/*--------Стилі змісту книги-------*/

@media screen and (max-width: 450px) {
    .book-content-link {
        display: block;
        min-height: 23px;
        padding-top:5px;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border: 2px solid #000000;
    }
}






/*===========Загальні блоки і правила==========*/
.container { /*Контейнер*/
    max-width: 800px;
    /* width: 800px; */
    margin: 0 auto;
    padding: 0 15px 30px;
    /* background-color: #ffffff; */
    background-color: #fefcfa;
}
/* .title-page > .container {
    height: 100vh;
} */

.title-page {
    padding-top: 30px;
}

.list-clean-style { /*Стиль списку без декорацій*/
    list-style: none;
}
.img { /*Стиль рисунків*/
    text-align: center;
}

.not-colored-link { /*Посилання не забарвлені синім але підкреслені*/
    color: #000000;
}

.implicit-link {/*Посилання не забарвлені синім і не підкреслене*/
    text-decoration: none;
    color: #000000;
}
.not-underlined-link {
    text-decoration: none;
}

/* .not-colored-link:visited,
.implicit-link:visited {
     /*Посилання не забарвлені синім але підкреслені*/
 /*   color: #000000;
} */


/*==================ОКРЕМІ БЛОКИ=================*/
/*----------Блоки Header-------------*/
.header,
.footer {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ebebeb;
}

.book-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 10px 0;
}

@media screen and (max-width: 300px) {
    header .navigation-list {
        display: block;
    }
}

.navigation-list-item {
    font-size: clamp(14px, 3.3vw, 26px);
    text-align: center;
}
.navigation-list-item:not(:last-child) {
    margin-right: clamp(1px, 0.63vw, 5px);
}
.navigation-list-link {
    padding: 3px 10px 5px;
    border-radius: 10px;
    vertical-align: middle;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: #ffffff;
    background-color: #000000;
}

/*-------------Блок footer-----------*/
.footer {
    /* background-color: #000000; */
    position: sticky;
    top: 0;
    z-index: 100;
    bottom: 0;
}

.navigation-list-link-f {
    padding: 3px 9px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(14px, 2.5vw, 20px);
    vertical-align: middle;
    border-radius: 10px;
    /* font-weight: bold; */
}
.navigation-list-link-f:hover,
.navigation-list-link-f:focus {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 1px 7px;
}

.navigation-list-item-f:not(:last-child) {
    margin-right: 20vw;
}
/*-----------Блоки змісту---------*/
.book-content-list {
    /*Список ul змісту*/
    padding-left: 5vw;
}

.book-content-list a:hover,
.book-content-list a:focus {
    color: #ffffff;
    background-color: #000000;
}

/*-----------Блоки головного тексту-----------*/
.author { /*Стиль тексту для зазначення автора*/
        font-size: 36px;
        text-decoration: underline;
        text-align: center;
}

/*-------------Вирівнювання тексту в блочних елементах---------------*/

.alignment-justify { /*текст з вирівнюванням по всій ширині*/
    text-align: justify;
}

.alignment-left {
    /*текст з вирівнюванням вліво*/
    text-align: left;
}

.alignment-center { /*абзац з вирівнюванням по центру*/
   text-align: center;
}

.alignment-right { /*абзац з вирівнюванням по правому боку*/
    text-align: right;
}

/*-------------відступи тексту в блочних елементах---------------*/
.indent-first { /*відступ першого рядка в абзаці зліва*/
    text-indent: 8%;
}

.indent-by-half {/*відступ тексту на половину сторінки*/
    padding-left: calc(100vw - 286px);
    text-align: justify;
}

@media screen and (min-width: 550px) {
    .indent-by-half {
        padding-left: 50%;
    }
}

.indent-left { /*відступ тексту зліва на 8% ширини сторінки*/
    padding-left: 8%;
}

.indent-top { /*Відступ абзацу зверху*/
    margin-top: 15px;
}

.indent-bottom { /*Відступ абзацу знизу*/
    margin-bottom: 15px;
}

.indent-both { /*Відступи абзацу зверху і знизу*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.indent-book-section-top {
    /*Відступ розділу зверху*/
    margin-top: 50px;
}

.indent-book-section-bottom {
    /*Відступ розділу знизу*/
    margin-bottom: 50px;
}

.indent-book-section-both {/*Відступ розділу зверху і знизу*/
    
    margin: 50px 0 50px;
}



/*--------ОФОРМЛЕННЯ ТЕКСТУ--------*/
 .capitalize {
    text-transform: capitalize;
 }
 .uppercase {
    text-transform: uppercase;
 }


.italic { /*Похилий текст*/
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.underline {
    text-decoration:underline;
}

@media print {
    abbr {
        text-decoration: none;
    }
    h2 {
        break-before: page;
        margin-top: 0px;
    }
    .header {
        display: none;
    }
    .footer {
        display: none;
    }
    .book-content-link {
        text-decoration: none;
    }
}

